/* --------------------------------------------------------------------------------------
+
+ BASIC STYLES
+
-------------------------------------------------------------------------------------- */

@import "compass";
@import "compass/reset";
@import "variables";
@import "mixins";

//SETTING UP MAIN ELEMENTS
html {

}

body {
    color: $text-clr;
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;
    min-width: $page-width;
    font-weight: 300;
    @include t(.5s);
    * {
        @include t(.4s);
    }    
    b, strong {
        font-weight: bold;
    }
    #preloader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999999999;
        background: url('../images/ajax_loader_gray_64.gif') 50% 50% no-repeat #fff;
    }    
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
    color: $title-clr;
    margin-bottom: $space;
}

h1 {
    font-size: 26px;
    margin-bottom: 42px;
}

h2 {
    font-size: 18px;
}

h3 {

}

h4 {

}

h5 {

}

a {
    outline: none;  /* removing outline in Mozilla */
    @include transition(all .2s ease);
    text-decoration: none;
    color: $link-clr;
    &:active {
        background-color: transparent;
    }
    &:hover {
        color: $link-hover;
    }
}

p {
    margin-bottom: $space;
    clear: both;
}

img {
    vertical-align: top;
}

table {
    width: 100%;
}

strong {
    font-weight: bold;
}


//CLEARING FLOAT (always extend .clearfix class)
.clearfix {
    @include pie-clearfix;
}

//SELECTED TEXT
@include selected-text;

//HIDE CLASS
.hide {
    display: none !important;
}

//SETTING FORM ELEMENTS
button:hover,
input[type="submit"]:hover,
label {
    cursor: pointer;
}

textarea {
    margin: 0;             /* removing margin in Mozilla */
    overflow: auto;        /* for IE and older browsers */
}

/* align checkboxes, radios, text inputs with their label */
input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
    *vertical-align: baseline;
}

//removing webkit outline
input:focus,
textarea:focus,
button:focus {
    outline: none;
}

//removing odd button padding/margin in Mozilla
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: 0;
    padding: 0;
}